<div class="mens">    
  <div class="main">
     <div class="wrap">
      <ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, class: "home" %> / <%= link_to "Cute Little Customers", baby_path, class: "home" %> </ul>
      <style>

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column img { 
  height: 300px;
  width: 550px;
  border: solid white;
  margin-right: auto;
  margin-left: auto;
  word-wrap:break-word;
  overflow:hidden;
}
.mySlides {
  background-color: black
}
.mySlides img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px
}
</style>


<div class="row">
  <div class="column">
    <%= image_tag"mirabel.jpg", onclick: "openModal();currentSlide(1)", class: "hover-shadow cursor"%>
  </div>
  <div class="column">
    <%= image_tag"isa.jpg", onclick: "openModal();currentSlide(2)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"giancarlo.jpg", onclick: "openModal();currentSlide(3)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"eliana.png", onclick: "openModal();currentSlide(4)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"scarlett.jpg", onclick: "openModal();currentSlide(5)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"euan.jpg", onclick: "openModal();currentSlide(6)", class: "hover-shadow cursor" %>
  </div>
    <div class="column">
    <%= image_tag"kailey.jpg", onclick: "openModal();currentSlide(7)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"robbie.jpg", onclick: "openModal();currentSlide(8)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"eli.jpg", onclick: "openModal();currentSlide(9)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"lacie.jpg", onclick: "openModal();currentSlide(10)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"aria.jpg", onclick: "openModal();currentSlide(11)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"stacie.jpg", onclick: "openModal();currentSlide(12)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"euan2.jpg", onclick: "openModal();currentSlide(13)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"dayana.jpg", onclick: "openModal();currentSlide(14)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"eliana2.jpg", onclick: "openModal();currentSlide(15)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"maiya.jpg", onclick: "openModal();currentSlide(16)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"mirabel2.jpg", onclick: "openModal();currentSlide(17)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"cora.jpg", onclick: "openModal();currentSlide(18)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"heza.jpg", onclick: "openModal();currentSlide(19)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"malcolm.jpg", onclick: "openModal();currentSlide(20)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"brooke.jpg", onclick: "openModal();currentSlide(21)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"isabella.jpg", onclick: "openModal();currentSlide(22)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"euan3.jpg", onclick: "openModal();currentSlide(23)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"maiya2.jpg", onclick: "openModal();currentSlide(24)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"johlee.jpg", onclick: "openModal();currentSlide(25)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"harrison.jpg", onclick: "openModal();currentSlide(26)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"anica.jpg", onclick: "openModal();currentSlide(27)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"kadence.jpg", onclick: "openModal();currentSlide(28)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"maiya3.jpg", onclick: "openModal();currentSlide(29)", class: "hover-shadow cursor" %>
  </div>
    <div class="column">
    <%= image_tag"mirabell.jpg", onclick: "openModal();currentSlide(30)", class: "hover-shadow cursor" %>
  </div>
    <div class="column">
    <%= image_tag"atlas.jpg", onclick: "openModal();currentSlide(31)", class: "hover-shadow cursor" %>
  </div>
      <div class="column">
    <%= image_tag"anastasia.jpg", onclick: "openModal();currentSlide(32)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"killian.jpg", onclick: "openModal();currentSlide(33)", class: "hover-shadow cursor" %>
  </div>
  <div class="column">
    <%= image_tag"kyra.jpg", onclick: "openModal();currentSlide(34)", class: "hover-shadow cursor" %>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 29</div>
      <%= image_tag "mirabel.jpg" %>
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 29</div>
      <%= image_tag "isa.jpg" %>
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 29</div>
      <%= image_tag "giancarlo.jpg" %>
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 29</div>
      <%= image_tag "eliana.png" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">5 / 29</div>
      <%= image_tag "scarlett.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">6 / 29</div>
      <%= image_tag "euan.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">7 / 29</div>
      <%= image_tag "kailey.jpg" %>
    </div>

    <div class="mySlides">
      <div class="numbertext">8 / 29</div>
      <%= image_tag "robbie.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">9 / 29</div>
      <%= image_tag "eli.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">10 / 29</div>
      <%= image_tag "lacie.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">11 / 29</div>
      <%= image_tag "aria.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">12 / 29</div>
      <%= image_tag "stacie.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">13 / 29</div>
      <%= image_tag "euan2.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">14 / 29</div>
      <%= image_tag "dayana.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">15 / 29</div>
      <%= image_tag "eliana2.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">16 / 29</div>
      <%= image_tag "maiya.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">17 / 29</div>
      <%= image_tag "mirabel2.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">18 / 29</div>
      <%= image_tag "cora.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">19 / 29</div>
      <%= image_tag "heza.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">20 / 29</div>
      <%= image_tag "malcolm.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">21 / 29</div>
      <%= image_tag "brooke.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">22 / 29</div>
      <%= image_tag "isabella.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">23 / 29</div>
      <%= image_tag "euan3.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">24 / 29</div>
      <%= image_tag "maiya2.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">25 / 29</div>
      <%= image_tag "johlee.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">26 / 29</div>
      <%= image_tag "harrison.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">27 / 29</div>
      <%= image_tag "anica.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">28 / 29</div>
      <%= image_tag "kadence.jpg" %>
    </div>
    <div class="mySlides">
      <div class="numbertext">29 / 29</div>
      <%= image_tag "maiya3.jpg" %>
    </div>
        <div class="mySlides">
      <div class="numbertext">30 / 29</div>
      <%= image_tag "mirabell.jpg" %>
    </div>
        <div class="mySlides">
      <div class="numbertext">31 / 29</div>
      <%= image_tag "atlas.jpg" %>
    </div>
      <div class="mySlides">
      <div class="numbertext">32 / 29</div>
      <%= image_tag "anastasia.jpg" %>
    </div>
            <div class="mySlides">
      <div class="numbertext">33 / 29</div>
      <%= image_tag "killian.jpg" %>
    </div>
      <div class="mySlides">
      <div class="numbertext">34 / 29</div>
      <%= image_tag "kyra.jpg" %>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <%= image_tag "mirabel.jpg", class: "demo cursor", onclick: "currentSlide(1)" %>
    </div>
    <div class="column">
      <%= image_tag "isa.jpg", class: "demo cursor", onclick: "currentSlide(2)" %>
    </div>
    <div class="column">
      <%= image_tag "giancarlo.jpg", class: "demo cursor", onclick: "currentSlide(3)" %>
    </div>
    <div class="column">
      <%= image_tag "eliana.png", class: "demo cursor", onclick: "currentSlide(4)" %>
    </div>
    <div class="column">
      <%= image_tag "scarlett.jpg", class: "demo cursor", onclick: "currentSlide(5)" %>
    </div>
    <div class="column">
      <%= image_tag "euan.jpg", class: "demo cursor", onclick: "currentSlide(6)" %>
    </div>
    <div class="column">
      <%= image_tag "kailey.jpg", class: "demo cursor", onclick: "currentSlide(7)" %>
    </div>
    <div class="column">
      <%= image_tag "robbie.jpg", class: "demo cursor", onclick: "currentSlide(8)" %>
    </div>
    <div class="column">
      <%= image_tag "eli.jpg", class: "demo cursor", onclick: "currentSlide(9)" %>
    </div>
    <div class="column">
      <%= image_tag "lacie.jpg", class: "demo cursor", onclick: "currentSlide(10)" %>
    </div>
    <div class="column">
      <%= image_tag "aria.jpg", class: "demo cursor", onclick: "currentSlide(11)" %>
    </div>
    <div class="column">
      <%= image_tag "stacie.jpg", class: "demo cursor", onclick: "currentSlide(12)" %>
    </div>
    <div class="column">
      <%= image_tag "euan2.jpg", class: "demo cursor", onclick: "currentSlide(13)" %>
    </div>
    <div class="column">
      <%= image_tag "dayana.jpg", class: "demo cursor", onclick: "currentSlide(14)" %>
    </div>
    <div class="column">
      <%= image_tag "eliana2.jpg", class: "demo cursor", onclick: "currentSlide(15)" %>
    </div>
    <div class="column">
      <%= image_tag "maiya.jpg", class: "demo cursor", onclick: "currentSlide(16)" %>
    </div>
    <div class="column">
      <%= image_tag "mirabel2.jpg", class: "demo cursor", onclick: "currentSlide(17)" %>
    </div>
    <div class="column">
      <%= image_tag "cora.jpg", class: "demo cursor", onclick: "currentSlide(18)" %>
    </div>
    <div class="column">
      <%= image_tag "heza.jpg", class: "demo cursor", onclick: "currentSlide(19)" %>
    </div>
    <div class="column">
      <%= image_tag "malcolm.jpg", class: "demo cursor", onclick: "currentSlide(20)" %>
    </div>
    <div class="column">
      <%= image_tag "brooke.jpg", class: "demo cursor", onclick: "currentSlide(21)" %>
    </div>
    <div class="column">
      <%= image_tag "isabella.jpg", class: "demo cursor", onclick: "currentSlide(22)" %>
    </div>
    <div class="column">
      <%= image_tag "euan3.jpg", class: "demo cursor", onclick: "currentSlide(23)" %>
    </div>
    <div class="column">
      <%= image_tag "maiya2.jpg", class: "demo cursor", onclick: "currentSlide(24)" %>
    </div>
    <div class="column">
      <%= image_tag "johlee.jpg", class: "demo cursor", onclick: "currentSlide(25)" %>
    </div>
    <div class="column">
      <%= image_tag "harrison.jpg", class: "demo cursor", onclick: "currentSlide(26)" %>
    </div>
    <div class="column">
      <%= image_tag "anica.jpg", class: "demo cursor", onclick: "currentSlide(27)" %>
    </div>
    <div class="column">
      <%= image_tag "kadence.jpg", class: "demo cursor", onclick: "currentSlide(28)" %>
    </div>
    <div class="column">
      <%= image_tag "maiya3.jpg", class: "demo cursor", onclick: "currentSlide(29)" %>
    </div>
        <div class="column">
      <%= image_tag "mirabell.jpg", class: "demo cursor", onclick: "currentSlide(30)" %>
    </div>
        <div class="column">
      <%= image_tag "atlas.jpg", class: "demo cursor", onclick: "currentSlide(31)" %>
    </div>
            <div class="column">
      <%= image_tag "anastasia.jpg", class: "demo cursor", onclick: "currentSlide(32)" %>
    </div>
            <div class="column">
      <%= image_tag "killian.jpg", class: "demo cursor", onclick: "currentSlide(33)" %>
    </div>

    <div class="column">
      <%= image_tag "kyra.jpg", class: "demo cursor", onclick: "currentSlide(34)" %>
    </div>



  </div>
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>