<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

    <!-- Wrapper for slides -->
  <div class="carousel-inner fwslider">

    <div class="item active">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "mirabel.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "icecream.jpg",alt: "icecream baby custom teether",style: "height: 400px;"%>
          
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "giancarlo1.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "elephant.png",alt: "elephant baby custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "robbie.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "elephant2.jpg",alt: "elephant baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "isa.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "oreo.jpg",alt: "oreo baby custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div>
    <div class="item">
       <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "dayana.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "butterfly.jpg",alt: "butterfly baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "euan2.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "squirrel.jpg",alt: "squirrel baby custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "harrison.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "elephant3.jpg",alt: "elephant baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "brooke.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "fox.jpg",alt: "fox baby custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div>
    
    <div class="item">
       <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "cupcake.jpg",alt: "cupcake baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "eli.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "trex.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "malcolm.jpg",style: "height: 400px;"%>
        </div>
      </div>
    </div>  
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "killian.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "panda.jpg",alt: "panda baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "anica.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "banana.jpg",alt: "banana baby custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div> 
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "ph.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "anastasia.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "lion.jpg",alt: "lion baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "maanea.jpg",style: "height: 400px;"%>
        </div>
      </div>
    </div> 
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "hunter.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "dolphin.jpg",alt: "dolphin baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "kyra.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "butt.jpg",alt: "butterfly baby custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div> 
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "ttrex.jpg",alt: "t-rex baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "atlas.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "star.jpg",alt: "star baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "johlee.jpg",style: "height: 400px;"%>
        </div>
      </div>
    </div>  
    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "maiya.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "dear.jpg",alt: "bear baby custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "diego.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "anchor.jpg",alt: "anchor custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div>  

    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "train.jpg",alt: "train custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "declan3.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "rose-necklace.jpg",alt: "rose necklace",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "eleanor.jpg",style: "height: 400px;"%>
        </div>
      </div>
    </div>  

    <div class="item">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "miki.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "koala-teether.jpg",alt: "koala custom teether",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "zarina.jpg",style: "height: 400px;"%>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
          <%= image_tag "elephant.jpg",alt: "elephant custom teether",style: "height: 400px;"%>
        </div>
      </div>
    </div>  

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <div class="slidePrev"><span></span></div>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <div class="slideNext"><span></span></div>
  </a>
</div>
<div id="welcome">

  <h1><%= image_tag "baby1.jpg" ,width: "120px" %> Welcome To Twinkle Dreams Baby<%= image_tag "baby2.jpg" ,width: "120px" %></h1>
  <h2>Customized Baby Teething accessories</h2><br><br>
</div>
<div class="lacie">
<div class="container">
    <h3>Customized Baby Teethers and Pacifier Holder<br><br>
      Beautiful colors, handmade in a unique modern design.<br> Extra safe innovative design to insure beads and clip will not come apart.<br> Soft, tactile material for sensory development, gum massage and teething relief.<br><br>

100% NON TOXIC, RUST FREE AND EASY TO CLEAN:<br><br>

High-Quality materials that are 100% BPA free,

FDA approved,100% food grade material, CPSIA/CPSC approved.<br><br>

No odor or taste.

   
 
</div>
</div>
<br><br><br>

<div class="container butterfly">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "necklace.jpg" %>
    </div>
    <div class="col-md-6">
      <h2><br>Style and Cute Baby Teething Accessories</h2> <br>
        <h3>Twinkle Dreams teethers accessories to chew on is sometimes one of the only natural teething remedies baby really needs to get through the pain of teething.<br> There are lots of options for teething toys that are also safe and non-toxic.</h3>

    </div>
  </div>
</div></div></div>

<div class="options">
  <div class="container">
    <h1>Twinkle Dreams Teething Options</h1>
  <div class="col-md-4 col-sm-4 col-xs-4 colu">
    <%= link_to teethers_path do %>
      <%= image_tag "funny.jpg"%>
      <% end %>
      <h2>Funny Pacifier</h2>
      <h3><%= link_to "See More...",teethers_path %></h3>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 colu">
    <%= link_to teethers_path do %>
      <%= image_tag "teether.jpg"%>
    <% end %>
      <h2>Custom Teether</h2>
      <h3><%= link_to "See More...",teethers_path %></h3>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 colu">
    <%= link_to teethers_path do %>
      <%= image_tag "pc.jpg"%>
      <% end %>
      <h2>Pacifier Holder</h2>
      <h3><%= link_to "See More...",teethers_path %></h3>
  </div>
    <div class="col-md-4 col-sm-4 col-xs-4 colu">
      <%= link_to teethers_path do %>
        <%= image_tag "fruit.jpg"%>
      <% end %>
      <h2>Fruit Pacifier</h2>
      <h3><%= link_to "See More...",teethers_path %></h3>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 colu">
    <%= link_to teethers_path do %>
      <%= image_tag "neck.jpg"%>
      <% end %>
      <h2>Necklace Set</h2>
      <h3><%= link_to "See More...",teethers_path %></h3>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 colu">
    <%= link_to teethers_path do %>
      <%= image_tag "banan.jpg"%>
      <% end %>
      <h2>Banana Brush</h2>
      <h3><%= link_to "See More...",teethers_path %></h3>
  </div>
</div></div></div>
<!-- 
  <div class="rsingle span_1_of_single">
    <div class="top-border"> </div>
      <div class="sidebar-bottom">
          <h2 class="m_1">Newsletter<br> Signup</h2>
          <p class="m_text">Check our latest items, sale and news</p>
          <div class="subscribe">
           <%= form_for @newsletter do |f| %>
              <%= f.text_field :email,:required => true  ,placeholder: "Email", class: "textbox"%>
              <%= f.submit %>
           <% end %>
      </div>
          </div> </div> </div> </div> </div> </div>
         -->
     </div>
  </div>
 <link rel="stylesheet" href="css/fwslider.css" media="all">
     
      </div>
     <div class="clear"></div>
  </div>
  </div>
  </div>