
    <div class="login">
       <div class="wrap">
      <ul class="breadcrumb breadcrumb__t">Contact Us</ul>
       <div class="content-top">
        <% if @contact.errors.any? %>
            <% @contact.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-md-6">
              <%= form_for @contact do |f| %>
             <form method="post" action="contact-post.html">
              <div class="to">
                  <%= f.text_field :name,:required => true  ,placeholder: "Name", class: "text"%>
                <%= f.text_field :email,:required => true  ,placeholder: "Email", class: "text"%>
              </div>
              <div class="to">
                <div class="text">
                <%= f.text_area :description ,:required => true ,placeholder: "Message",rows: "4" ,cols: "50"%>
                </div>
                </div>
                      <div class="submit">
                        <%= f.submit %>
                      </div>
                      <% end%>
                   </form> 
                 </div>
                 <div class="col-md-6"><br>
                <p><strong>Address:</strong> 8180 Granvile Ave, Richmond, BC</p>
                <p>Canada</p><br>
                <p><strong>Phone:</strong> <a href="tel:+1-778-903-5005">(+1) 778 903 5005</a></p><br>
                <p><strong>Email:</strong> <span><%= mail_to "nour@khatib.ca?subject=petraauto.com" do %>nour@khatib.ca <% end %></span></p>
                
             </div>
</div></div>