
<div class="mens">    
  <div class="main">
     <div class="wrap">
      <ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, class: "home" %> / <%= @color.name %></ul>

      <%= @color.name %>
      <% if current_user && current_user.admin? %>
      <h2><%= link_to  controller: :colors, class: "btn tf-btn btn-danger", action: :edit do %>Edit color <% end %> </h2>
      <%= link_to @color, class: "btn tf-btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete this color?" } do %>Delete <% end %>
      <% end %>m