<!DOCTYPE html>
<html>
  <head>
    <title>CustomisedTeethersAndPacifierclipHolder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <%= favicon_link_tag 'fav.ico' %>
    <meta name="description" content="twinkle dreams vancouver">
    <meta name="keywords" content="vancouver teether">
    <meta name="author" content="customized teether">
    <meta content="baby pacifierclip">
    <meta content="canada teether">
    <meta content="baby name teether">
    
  </head>
  <body>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    .topnav {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
}
.topnav {
  overflow: hidden;
  margin-top: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 8px 15px;
    text-transform: uppercase;
}

.topnav a:hover {
  background-color: #fcfdfc;
}

.topnav a.active {
  color: #00405d;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .logo img {
    width: 100px;
}

}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
</style>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54517731358aab10" async="async"></script>
  <div class="header-top">
    <div class="wrap"> 
      <p><%= image_tag "2.png" %> FREE SHIPPING on orders over CAD $150</p>
      <div class="clear"></div>
    </div>
  </div>
  <div class="topnav" id="myTopnav">
  <div class="header-bottom">
    <div class="wrap">
    <div class="header-bottom-left">
      <div class="logo">
        <%= link_to root_path do %><%= image_tag "twinkledreamslogo.png" %><% end %>
      </div>
      
      
  <%= link_to "Home",root_path, class: "active" %>
  <%= link_to "Shop",teethers_path %>
  <%= link_to "Baby", baby_path %>
  <%= link_to "reviews", reviews_path %>      
  <%= link_to "Contact",new_contact_path,class: "color7"%>

  <%= link_to cards_path do %>
    <i class="fa" style="font-size:24px">&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount'><%= @cart.size %> </span>
  <% end %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
 
    
     <div class="header-bottom-right">
         <div class="search"> 
         <%= form_for "",url: teethers_path, role: "search", method: :get  ,class: "textbox" do %>
         <%= text_field_tag :search, @search_term,value: "Search", onfocus: "this.value = '';" ,onblur: "if (this.value == '') {this.value = 'Search';}" %>
              <input type="submit" value="Subscribe" id="submit" name="submit">
        <% end %>  
        
   
        <div id="response"> </div>
     </div>
   </div>
    </div>
     <div class="clear"></div>
     </div>
  </div>  </div>
    <%= yield %>
<div class="clear"></div>
      </div>
       <div class="clear"></div>
       </div>
    </div>

  <div class="footer">
    <div class="footer-top">
      <div class="wrap">
        <div class="group example">
        <div class="col_1_of_2 span_1_of_2">
          <ul class="f-list">
            <li><%= image_tag "2.png", id:"truck"%><span class="f-text">Free Shipping on orders over $150</span><div class="clear"></div></li>
          </ul>
        </div>
        <div class="col_1_of_2 span_1_of_2">
          <ul class="f-list">
            <li><%= image_tag "3.png"%><span class="f-text"><a href="tel:+1-778-903-5005">Call us! +1-778-903-5005 </a></span><div class="clear"></div></li>
          </ul>
        </div>
        <div class="clear"></div>
          </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="wrap">
        <div class="group example">
        <div class="col_1_of_f_1 span_1_of_f_1">
         <div class="group example">
           <div class="col_1_of_f_2 span_1_of_f_2">
              <h3>Facebook</h3>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="like_box">  
              <div class="fb-like-box" data-href="https://www.facebook.com/TwinkleDreamsBaby/" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
            </div>
          </div>
          <div class="col_1_of_f_2 span_1_of_f_2">
            <h3>HOW TO ORDER</h3>
            <ul class="f-list1">
                <li><a href="#">Choose one of our items </a></li>
                    <li><a href="#">Email us of the name</a></li>
                    <li><a href="#">We will send you picture of it after it's done</a></li>
                    <li><a href="#">If confirm you can pick it up from our address or we can ship it for extra cost</a></li>
                    <li><a href="#">We accept etransfer and cash </a></li>
                </ul>
         </div>
        <div class="clear"></div>
          </div>
       </div>
       <div class="col_1_of_f_1 span_1_of_f_1">
         <div class="group example">
         
         <div class="col_1_of_f_2 span_1_of_f_2">
           <h3>Contact us</h3>
            <div class="company_address">
                <p>8180 Granvile Ave, Richmond, BC</p>
                <p>Canada</p>
                <p>Phone: <a href="tel:+1-778-903-5005">(+1) 778 903 5005</a></p>
                <p>Email: <span><%= mail_to "nour@khatib.ca?subject=petraauto.com" do %>nour@khatib.ca<% end %></span></p>
                
             </div>
             <div class="social-media">
                 <ul>
                    <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="https://www.google.ca/search?q=Twinkle+Dreams+Baby+Vancouver+customized+Teethers+and+diaper+cake&ludocid=2545759152875873513&lsig=AB86z5Ug6xv3cmH-9wf1smJlk4q_#fpstate=lie" target="_blank"> </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Instagram"><a href="https://www.instagram.com/babytwinkledreams/" target="_blank"> </a> </span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="https://www.facebook.com/TwinkleDreamsBaby/" target="_blank"> </a></span></li>
                </ul><br><br><br>
                <% if user_signed_in? %>
                  <%= current_user.stripe_customer_id %><br>
                  <%= link_to "Sign Out",destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to "Sign in",new_user_session_path %>
                <% end %>
             </div>
        </div>
        <div class="clear"></div>
        </div>
       </div>
      <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrap">
                  <div class="copy">
                 <p>Web Designed by <%= mail_to "nour@khatib.ca?subject=twinkledreams" do %>
            NourTech
    <% end %></p>
                </div>
           <div class="f-list2">
        <ul>
          <li class="active"><a href="about.html">About Us</a></li> |
          <li><a href="delivery.html">Delivery & Returns</a></li> |
          <li><%= link_to "Terms & Conditions", terms_path %></li> |
          <li><%= link_to "Contact Us",new_contact_path %></li> 
        </ul>
        </div>
        <div class="clear"></div>
          </div>
      </div>
    </div>
  </body>
</html>
